doctype html
html(lang='zh')
  head
    title 模板代码
    script(type='text/javascript').
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet">
  body
    h1 默认头部
    block content
